@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');

/*cabeçalho*/

body{
    background-color: whitesmoke;
    
}
.cabecalho__imagem{
    position: absolute;
	top: 5%;
	left: 70px;
    
    
}
.cabecalho__botao{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60%;
    margin-right: 15%;
    padding-top: 4%;
    gap: 10px;
   
    
}

.cabecalho__botao__estilo{
    font-size: 1.35rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
    transition: 2s all;

}

.cabecalho__botao__estilo:hover{
    transform:scale(1.1) ;

}



/*meio da pagina */

.conteudo__gif{
    box-sizing: border-box;
    background:url(back_green.png);
    width: 100%;
}

.conteudo{
   
    display: flex;
    margin: 0 1%;
    padding: 8%;
   
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Mukta', sans-serif;
   
}

.conteudo__titulo__estilo{ 
    font-family: 'Mukta', sans-serif;
    padding: 10px;
    margin: 0 280px;
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  
}

.conteudo__botao{
    margin: 100px 280px;
    width: 20%;
    padding: 18px 0;
    font-family: 'Mukta', sans-serif;
    text-align: center;
    font-size: 1.875rem;
    text-decoration: none;
    color: green;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    transition: 2s all;
}

.conteudo__botao:hover{
    background-color: whitesmoke ;
    transform:scale(1.1) ;

}

.fale_conosco{
    background-image:url(backgroundd.png);
}

/*Vantagens*/

.vantagens{
    box-sizing: border-box;
}

.vantagens_inicio{
    margin: 5% 11%;
    font-family: 'Mukta', sans-serif;

}

.vantagens_subtitulo{
    color: green;
    font-size: 2.188rem;
}

.vantagens__inicio__titulo{
    font-size: 2.813rem;
    color: #1B1B1B;
}

.vantagens__titulo{
    font-size: 2.188rem;
    font-family: 'Mukta', sans-serif;
    color: #1B1B1B;

}

.vantagens__texto__top{
    padding: 30px 0;
    font-size: 1.875rem;
    font-family: 'Mukta', sans-serif;
    color: #1B1B1B;
}

.vantagens__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
    gap: 60px;

}



.vantagens__top__1{
    padding: 1.875rem ;
    text-align: center;
    width: 35%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5;
    border: #81c02c solid 0.313rem;
    border-radius: 10px;
}

.vantagens__top__2{
    padding: 1.875rem ;
    text-align: center;
    width: 35%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5;
    border: #81c02c solid 0.313rem;
    border-radius: 10px;


}

.vantagens__bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
    gap: 60px;

}

.vantagens__bot__1{
    padding: 1.875rem ;
    text-align: center;
    width: 35%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5;
    border: #81c02c solid 0.313rem;
    border-radius: 10px;
}

.vantagens__bot__2{
    padding: 1.875rem ;
    text-align: center;
    width: 35%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5;
    border: #81c02c solid 0.313rem;
    border-radius: 10px;


}


/*Rodape*/

footer{
    box-sizing: border-box;
    background-color: #919191;
  }
  
  
  .rodape{ 
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
  }
  
  .rodape__imagem{
    align-items: center;
    
  
  }
  
  .rodape__onde{
    display: flex;
    flex-direction: column;
        
    
  }
  
  .rodape__copyright{
    padding-bottom: 0px;
  }
  
  .rodape__copyright__estilo{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
    font-family: 'Mukta', sans-serif;
    font-size: 0.938rem;
    color: white;
    display: flex;
    flex-direction:column ;
    justify-content: baseline;
    padding-top: 30px;
    padding-bottom: 10px;
    
  
  
  }
  
  
  
  
  .rodape__contato{
    display: flex;
    flex-direction: column;
    
    
  
  }
  
  .rodape__titulo{
    font-family: 'Mukta', sans-serif;
    padding: 10px 0;
    font-size: 1.875rem;
    color: white;
    font-weight: bold;
    
  
  }
  
  .rodape__texto{
    font-family: 'Mukta', sans-serif;
    font-size: 1.25rem;
    color: white;
    padding: 10px 0;
    
  }
  





@media(max-width: 900px){

    /*cabecalho*/
    .cabecalho__imagem{
       
        position: absolute;
        top: 5%;
        left: 60%;
        
    }

    .cabecalho__botao{
    
        
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 15%;
        gap: 10px;
       
        
    }
    .cabecalho__botao__estilo{
        font-size: 2.55rem;
       
    
    }

  

    /*cabecalho*/

    /*imagem*/

    .conteudo__gif{
        
        width: 230%;
    }


    .conteudo{
        text-align: center;
   
    }
    
    .conteudo__titulo__estilo{ 
        font-size: 50px;
        text-align: center;


    
    }
    
 
    
    .conteudo__botao:hover{
        background-color: whitesmoke ;
        transform:scale(1.1) ;
    
    }

    .conteudo__botao{
        
        width: 40%;
    }

    /*imagem*/






    /*vantagens*/
    .vantagens__top{
        flex-direction: column;
        width: 200%;
        align-items: center;
        padding: 60px 0;
        font-size: auto;
        margin: 0 3.125rem;
    }

    .vantagens__bot{
        flex-direction: column;
        width: 200%;
        padding: 60px 0;
        margin: 0 3.125rem;
        
        
    }
    .vantagens_subtitulo{
        
        width: auto;
        font-size: 30px;
        

    }
    
    .vantagens__inicio__titulo{
        width: 245%;
        
        font-size: 2.5rem;
    }

    .vantagens__top__1{
        height: 17.5rem;    
    }

    .vantagens__top__2{
        
        height: 17.5rem;    
    }

    .vantagens__bot__1{
        height: 17.5rem;    
    }
    
    .vantagens__bot__2{
        height: 22.5rem;  
        
    }
    
    /*vantagens*/

    /*rodape*/
    footer{
        width: 230%;
    
    }

    .rodape__onde{
        display: none;
            
    }    

    .rodape__contato{
        display: none;
    }
    /*Rodape*/

    .rodape__copyright__estilo{
        font-size: 1.938rem;
    }
   





}   